
body {
    font-size: 62.5%;
    font-family: 'Roboto Slab', serif;
    background-color: #edeff1;
}
.page_wrapper {
    width: 100%;
    margin: 0 auto;
}
.head_container {
    width: 80%;
}

.logo,
    .navigation {
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 0;
}

		.logo_top,
        .logo_bottom {
            margin: 0;
        }

        .logo_top {
            color: #dd2a92;
            font-weight: 900;
            font-style: italic;
            font-size: 3.6em;
        }

.toggle {
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
    font-size: 40px;
    display: none;
    color: #dd2a92;
}

.navigation {
        font-size: 1.8em;
        padding: 0px;
    }
        .navigation ul {
            list-style: none;
            text-align: center;
            margin: 0;
            padding: 0;
        }

            .navigation ul li {
                display: inline-block;
            }

                .navigation ul li a {
                    color: #31353e;
                    float: left;
                    padding: 12px 19px;
                    margin: 0;
                    border-radius: 25px;
                    text-decoration: none;
                    border: 1px solid rgba(221, 75, 43, 0);
                    -webkit-transition: border-color 0.3s ease-in-out;
                    -o-transition: border-color 0.3s ease-in-out;
                    transition: border-color 0.3s ease-in-out;
                }

                .navigation .active a {
                    background-color: #dd2a92;
                    color: white;
                }

                .navigation a:hover {
                    padding: 12px 19px;
                    border: 1px solid #dd2a92;
                }

.section_main {
    width: 100%;
    height: auto;
    background-image: url(../IMG/bckgrimage.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 1px 1px 1px black;
}

    .main_container {
        width: 60%;
    }

        .section_main .wrap_h {
            color: #fff;
            text-align: center;
            margin-top: 37%;
        }

            .section_main .wrap_h h1 {
                font-weight: 300;
                font-size: 7.2em;
                line-height: 1em;
            }

                .section_main .wrap_h span {
                    font-weight: 700;
                    font-size: 0.43em;
                    line-height: 1em;
                    text-shadow: 1px 1px 1px black;
                }

        .section_main .main_product {
            color: #ffffff;
            text-align: center;
            margin-top: 7%;
        }

            .section_main .main_product img {
                border-radius: 50%;
            }

            .section_main .main_product h2,
            .section_main .main_product p {
                text-shadow: 1px 1px 1px black;
            }

            .section_main .main_product h2 {
                font-size: 3.0em;
                font-weight: 700;
            }

            .section_main .main_product p {
                font-size: 1.5em;
                font-weight: 300;
                line-height: 2em;
            }


            .zoom {
                transition: transform .2s;
            }

            .zoom:hover {
                -ms-transform: scale(1.2); /* IE 9 */
                -webkit-transform: scale(1.2); /* Safari 3-8 */
                transform: scale(1.2); 
            }



        .section_main .read_more_link {
            font-size: 1.5em;
            font-weight: 400;
            text-align: center;
            margin-top: 11%;
            margin-bottom: 12%;
            text-shadow: none;
        }

            .section_main .read_more_link a {
                font-family: Roboto;
                font-size: 1.8em;
                text-decoration: none;
                background-color: transparent;
                color: #fff;
                padding: 14px 39px 14px 39px;
                border: 1px solid rgba(78, 81, 89, 0);
                border-radius: 25px;
                white-space: nowrap;
                
                -webkit-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }

            .section_main .read_more_link a:hover {
                color: #dd2a92;
                background-color: #fff;
            }

.news_container {
    width: 60%;
}

    .section_news .wrap_h {
        color: #31353e;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .section_news h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3em;
}

    .news_item_row {
        text-align: center;
    }


        .news_item_wrap h2 {
            color: #31353e;
            font-size: 2.4em;
            font-weight: 700;
        }

        .news_item_wrap p {
            color: #31353e;
            font-size: 1.2em;
            line-height: 2em;
            margin: 0 12px;
        }
        
        .news_item_wrap .read_more_link {
            
            margin-top: 20px;
            margin-bottom: 105px;
            padding: 15px 40px 15px 40px;
            
        }

        .news_item_wrap img {
            border: ridge 3px white;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            
        }

            .news_item_wrap .read_more_link a {
                font-family: Roboto;
                font-size: 1.8em;
                text-decoration: none;
                background-color: #fff;
                color: #4e5159;
                padding: 14px 39px 14px 39px;
                border: 1px solid rgba(78, 81, 89, 0);
                border-radius: 25px;
                white-space: nowrap;
                
                -webkit-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }

                .news_item_wrap .read_more_link a:hover {
                    border: 1px solid rgba(78, 81, 89, 1);
                }

.section_newsletter {
    background-image: url(../IMG/newsletter.jpg);
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 1px 1px 1px black;
    
    text-align: center;
    color:  #fff;
    font-family: RobotoSlab;
}

.newsletter-col {
        margin-top: 50px;
        margin-bottom: 56px;

    }

        .section_newsletter h1 {
            font-size: 3em;
            font-weight: 700;
        }

        .section_newsletter p {
            font-family: RobotoSlab;
            font-size: 1.5em;
            line-height: 1.8em;
        }

        .section_newsletter input.email_field {
            border: 1px solid rgba(255, 255, 255, .2);
            background-color:  rgba(255, 255, 255, 0.2);
            box-sizing: border-box;
            border-radius: 25px;
            font-size: 1.8em;
            padding-left: 30px;
            padding-right: 50px;
            width: 255px;
            height: 35px;
        }
        .section_newsletter input.email_field::-webkit-input-placeholder {
            color: #fff;
        }

        .section_newsletter input.email_field:-moz-placeholder { 
            color: #fff; 
        }

        .section_newsletter input.email_field::-moz-placeholder { 
            color: #fff;  
        }

        .section_newsletter input.email_field:-ms-input-placeholder {  
            color: #fff; 
        }

        .section_newsletter .sign_up_newsletter {
            border-radius: 20px;
            color:  #612316;
            position: relative;
            right: 30px;
            font-size: 1.8em;
            background-color: #fff;
            border: none;
            border: 1px solid rgba(255, 255, 255, .5);
            width: 100px;
            height: 35px;
        }


.section_product_details {
    background-color: #fff;
    font-family: RobotoSlab;
    color:  #191b29;
    
}

    .section_product_details .product_details_container {
        width: 60%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .content_padding {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
    }

    .product_details_container div div {
        margin-bottom: 20px;
    }

        .section_product_details h1 {
            margin-top: 30px;
            font-size: 3em;
            line-height: 1.8em;
            font-weight: 700;
        }

        .section_product_details p {
            font-family: Roboto;
            font-size: 1.6em;
            line-height: 2em;
        }

        .section_product_details p+p {
            margin-bottom: 50px;
        }

        .section_product_details a {
            text-decoration: none;
            white-space: nowrap;
            font-size: 1.8em;
            color: #fff;
            background-color: #dd4b2b;
            padding: 12px 60px;
            padding-bottom: 15px;
            border-radius: 25px;
        }

        .section_product_details a.second_a_color {
            background-color: ##dd2a92;
        }

        .section_product_details img {
            width: 100%;
        }


footer {
    font-family: Roboto;
    text-align: center;
    color:  #fff;
    line-height: 2em;
    font-size: 1.8em;
}

.top_footer_container {
    
    background-color:  #dd4b2b;
}

    footer .top_footer_row {
        padding-top: 50px;
        padding-bottom: 40px;
        width: 60%;
        margin: 0 auto;
    }

        footer .top_footer_row > div {
            margin-bottom: 20px;
        }

            footer .top_footer_row ul {
                list-style: none;
                padding: 0;
            }

footer .top_footer_row ul a {
    color:  #fff;
}

    footer .bottom_footer_row {
        color:  #ffffff;
        background-image: url(../IMG/newsletter.jpg);
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        padding-top: 90px;
        padding-bottom: 240px;
    }

footer .bottom_footer_row p {
    font-family: "ProximaNovaLight", sans-serif;
    font-family: "ProximaNovaThin", sans-serif;
    
    
}

footer .bottom_footer_row span {
    font-family: "ProximaNovaBold", sans-serif;

}
