/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    body {
        font-size: 42.5%;
    }
    .main_container,
    .news_container {
        width: 100%;
    }
    
    .newsletter-col {
        padding-left: 27%;
        padding-right: 27%;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .main_container {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .logo_top,
    .logo_bottom {
        text-align: center;
    }
    
    .newsletter-col {
        padding-left: 26%;
        padding-right: 26%;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {

    /*toggle*/
    .toggle {
        display: block;
    }

    ul {
        width: 100%;
        display: none;
     }

    ul li {
        display: block;
        
    }

   .active {
    display: block;
   }




    .head_container {
        width: 100%;
    }
    
    .section_main .wrap_h h1 {
        font-size: 4.8em;
        line-height: 30px;
    }
    .section_main .main_product p {
        font-size: 2.4em;
        font-weight: 300;
        padding: 0 22%;
    }
    
    .news_item_wrap h2 {
        font-size: 3em;
    }
    
    .news_item_wrap p {
        font-size: 2.4em;
        padding: 0 10%;
    }
    
    .section_newsletter p {
        font-size: 2.4em;
    }
    
    .section_newsletter input.email_field {
        padding-right: 30px;
        margin-bottom: 18px;
        width: 210px;
        text-align: center;
    }
    
    .section_newsletter input.email_field::-webkit-input-placeholder {
       text-align: center;
    }

    .section_newsletter input.email_field:-moz-placeholder { /* Firefox 18- */
       text-align: center;  
    }

    .section_newsletter input.email_field::-moz-placeholder {  /* Firefox 19+ */
       text-align: center;  
    }

    .section_newsletter input.email_field:-ms-input-placeholder {  
       text-align: center; 
    }
    
    .section_newsletter .sing_up_newsletter {
        position: static;
        right: 30px;
    }
    
    .section_product_details .product_details_container {
        width: 80%;
    }
    
    .section_product_details p {
        font-size: 2.4em;
        text-align: justify;
    }
    
    footer {
        font-size: 2.4em;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {

  
    .section_main .main_product p {
        padding: 0 12%;
        font-size: 2em;
    }
    
    .section_main .wrap_h h1 {
        font-size: 4.2em;
        line-height: 1em;
    }
    
    .news_item_wrap p {
        margin: 0;
        padding: 0;    
    }
    
    .newsletter-col {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .section_product_details .product_details_container {
        width: 100%;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    body {
        font-size: 52.5%;
    }
    
    .newsletter-col {
        padding-left: 27%;
        padding-right: 27%;
    }
}

@media only screen and (min-width: 1600px) {
    body {
        font-size: 62.5%;
    }
    
    .newsletter-col {
            padding-left: 37%;
            padding-right: 37%;
        }
}